a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 500px;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}

.header h2 {
    font-size: 28px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    gap: 14px;
}

.header a {
    font-size: 18px;
}

.banner {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.banner h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.banner p {
    font-size: 18px;
    color: white;
}

.sign-up {
    background-color: #3882f6;
    width: fit-content;
    border-radius: 10px;
    padding: 14px;
}
.sign-up a {
    text-decoration: none;
    font-size: 18px;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    gap: 18px;
}
.icons h2 {
    display: flex;
    font-size: 36px;

}

.pictures {
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 150px;
}

.pictures img {
    overflow: hidden;
    border-style: solid;
    border-color: blue;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.picture-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote {
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: lighter;
    background-color: #e5e7eb;
    display: flex;
    padding: 100px;
}

.quote.author {
    align-self: flex-start;
}

